<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwtech.entity.user.UserMapper" >
  <resultMap id="BaseResultMap" type="com.xwtech.model.user.SysUser" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="locked" property="locked" jdbcType="INTEGER" />
    <collection property="roleList" ofType="com.xwtech.model.user.SysRole">
		<id column="role_id" property="id" jdbcType="INTEGER" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</collection>
  </resultMap>
  <sql id="Base_Column_List" >
  	t_sys_user.id, t_sys_user.username, t_sys_user.password, t_sys_user.salt, t_sys_user.locked
  </sql>

  <!-- 根据用户名查找用户 -->
  <select id="selectUserByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />,
    r.id role_id, r.description
    from t_sys_user 
    left join t_sys_user_role ur on t_sys_user.id=ur.user_id
    left join t_sys_role r on ur.role_id=r.id
    where t_sys_user.username = #{userName,jdbcType=VARCHAR}
  </select>






</mapper>